
{% extends "base.html" %}

{% block content %}
{% include './sections/hero.html' %}
{% include './sections/invite.html' %}
{% include './sections/church.html' %}
{% include './sections/followed.html' %}
{% include './sections/reception.html' %}
{% include './sections/hotels.html' %}
{% include './sections/rsvp.html' %}
{% include './sections/gifts.html' %}
{% include './sections/footer.html' %}
{% include './sections/ratting.html' %}
{% include './hotel_detail/index.html' %}

{% endblock content %}


